* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: silver;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: white;
  padding: 60px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.login-box h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 30px;
}

.login-box p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.input {
  position: relative;
  margin-bottom: 20px;
}

.input .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input input:focus {
  border-color: black;
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #333;
}

.login-button a {
  text-decoration: none;
  color: white;
}

.links {
  margin-top: 15px;
}

.links a {
  color: #888;
  font-size: 14px;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.links a:hover {
  color: black;
}
